version: '3.9'
services:
  db:
    image: postgres:15.6-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-red_social}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "8081:80"

volumes:
  pgdata:
